@import "variables.css";

/*BANNER*/
body {
    margin: 0 auto;
    padding: 0;
}

.banner{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../bilder/banner.png);
    background-position: center;
    background-size: cover; 
}
    
.layer {
    width: 100%;
    height: 80%;
    position: absolute;
    /* background-color: rgba(198, 194, 194, 0.2); */
}
 
.banner-content{
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
 
.banner-content h1{
    font-size: 45px;
}
 
.banner-content p{
    margin: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}
.banner-content .button {
    color: white;
    background-color: #3E885A;
    text-decoration: none;
    padding: 9px 20px;
    text-transform: uppercase;
    border-radius: 5px;
}
 
.button:hover {
    background-color: white;
    color: black;
}
 
/*BOXAR UNDER BANNER*/
.boxar {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
 
.box {
    height: auto;
    text-align: center;
    /*background-image: url(../cleansoffa.png); */
    flex: 1;
}


.box p{
    padding: 10px;
}

/*Bilder med texter*/
 
.main-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin: 100px auto;
    max-width: 1200px;
}
 
.content {
    width: 500px;
    height: 300px;
    margin: 15px;
    padding: 30px;
}
 
main img {
    width: 350px;
}
 
.banner-2{
    display: flex;
    position: relative;
    width: 100%;
    height: 55vh;
    background-image: url(../bilder/banner-2.jpg);
    /* background-position: center; */
    background-size: cover; 
 }
 
 .layer-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.509);
 }
 
 .banner-content-2{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
 }
 
 .banner-content-2 h1{
    font-size: 40px;
 }
 
 .banner-content-2 .button {
    color: white;
    background-color: #3E885A;
    text-decoration: none;
    padding: 9px 20px;
    text-transform: uppercase;
    border-radius: 5px;
 }
 
 .button:hover {
    background-color: white;
    color: black;
 }


 /*Desktop skärmar*/
 @media (min-width: 1200px) and (max-width: 1200px){

 }


/*Tablets*/
@media (min-width: 738px) and (max-width: 960px){
    .banner-content h1 {
        font-size: 35px;
      }
      
      .banner-content .button {
        padding: 10px 25px; /* ändrar button storlek*/
        font-size: 20px; 
      }
    
      .boxar {
        flex-direction: column;
      }
  
      .main-content{
          flex-direction: row;
         margin-top: 15px;
      }

      
   #bild2 {
      display: none;
   }
  
   .content{
      width: 700px;
      height: 200px;
      padding: 0;

   }
  .banner-2{
          height: 40vh;
       }
  
   .banner-content-2 h1{
    font-size: 30px;
   }
  
}
  
  /* Mobiler */
  @media only screen and (max-width: 738px) {

    .banner-content h1 {
      font-size: 30px;
    }
    
    .banner-content .button {
        padding: 10px 15px; /* ändrar button storlek*/
        font-size: 15px; 
    }
  
    .boxar {
      flex-direction: column;
      padding: 70px;
    }

    .main-content{
        flex-direction: column;
        margin-top: 0;
        max-width: 700px;
    }
    
 #bild2 {
    display: none;
 }

 .content{
    padding: 0 30px;
 }

.banner-2{
        height: 30vh;
     }

 .banner-content-2 h1{
    font-size: 30px;
 }

 }



