.kontakt {display: grid;
	margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
}
.bildruta1 img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; Låter bilden täcka hela området utan att sträcka eller krossa proportionerna  */
}
#adress {
    display: flex;
}
#adress p {
    margin-left: 10px;
}
#telefon {
    display: flex;
}
#telefon p{
    margin-left: 10px;
}
#telefon {
    display: flex;
}
#telefon p{
    margin-left: 10px;
}
#email {
    display: flex;
}
#email p{
    margin-left: 10px;
}
#facebook {
    display: flex;
}
#facebook p{
    margin-left: 10px;
}
#instagram {
    display: flex;
    align-items: center;
}
#instagram p{
    margin-left: 10px;
}
.ikoner img {
    display: flex;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 50px;  
}
.left3 {
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 1;
    grid-row-end:2;
    background-color: rgb(231, 238, 236);
    margin-top: 10px;
    margin-left: 25px;
    border: 1px solid rgb(231, 238, 236);
    border-radius: 20px;
    /* background-color: rgb(231, 238, 236) */
}
.left1 {
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(231, 238, 236);
    margin: 10px 25px 0 25px;
    border: 1px solid rgb(231, 238, 236);
    border-radius: 20px;
}
.left2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end:9;
    background-color: rgb(231, 238, 236);
    margin:10px 25px;
    border: 1px solid rgb(231, 238, 236);
    border-radius: 20px;
}
.left4 {
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 9;
    background-color: rgb(231, 238, 236);
    margin:10px 0 10px 25px;
    
    border: 1px solid rgb(231, 238, 236);
    border-radius: 20px;
}
.right1 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end:9;
    background-color: rgb(231, 238, 236);
    max-width: 600px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(231, 238, 236);
    border-radius: 20px;
}
.form1 {
    display: flex;
    grid-template-columns: repeat(6, 1fr);;
    display:grid;
    flex-wrap: wrap;
    /* padding: 10px; */
    /* padding-left: 100px;   */
    margin-left: 2px; 
    row-gap: 25px;   
    border: none;
}   
#fyll { 
    text-align: left;
}
#choose {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
   margin-bottom: 0;
   font-style: oblique; 
}
label:nth-child(1n) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
}
label:nth-child(2n) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
label:nth-child(3n) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
label:nth-child(4n) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;  
}
label:nth-child(5n) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
label:nth-child(6n) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
label:nth-child(7n) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
label:nth-child(8n) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}
label:nth-child(9n) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
label:nth-child(10n) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}
label:nth-child(11n) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}
label:nth-child(12n) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 11;
}
label:nth-child(13n) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;
}
#skicka {
    min-width: 285px;
}
label {
    display: flex;
    align-items: center;
}
input {
    min-height: 2em;
}
#select {
    width: 13em;
    min-height: 2em;
    }
#policy {
    text-align: left;   
}
#samtycke {
    margin-top: 0;
}
a {
    color: black;
}