@import "variables.css";

.container2 {
    padding: 0px 40px 0 40px
}
.kontakt {
    display: grid;
    margin: 25px 0;
    grid-template-columns: 1fr 1fr;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E885A;
    color: white;
    font-weight: 600;
    grid-column-start: 1;
    grid-column-end: 13;
    height: 30px;
}
.left1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../bilder/laptopmedpenna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f6f8;
}
.ikoner {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: 35px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 300px;
    margin-right: 20px;
}
.ikoner img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 35px;
}
.ikoner>div {
    display: flex;
    margin-top: 0px;
}
#adress {
    margin-top: 20px;
}
#telefon p {
    margin-left: 5px;
}
#email p {
    margin-left: 5px;
}
#facebook p {
    margin-left: 0px;
}
#instagram p {
    margin-left: 5px;
}
.right1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #f5f6f8;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.form1 {
    display: flex;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 10px;
    row-gap: 25px;
    border: none;
}
#radio {
    width: 95px;
}
#fyll {
    text-align: left;
    margin-left: 10px;
}
#labelruta {
    width: 200px;
}
label:nth-child(1n) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
label:nth-child(2n) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
label:nth-child(3n) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
label:nth-child(4n) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
label:nth-child(5n) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
label:nth-child(6n) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
label:nth-child(7n) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}
label:nth-child(8n) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}
label:nth-child(9n) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}
label:nth-child(10n) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}
label:nth-child(11n) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
}
label:nth-child(13n) {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 10;
}
label:nth-child(12n) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 11;
}
#skicka {
    min-width: 285px;
}
label {
    display: flex;
    align-items: center;
}
input {
    min-height: 2em;
}
#select {
    width: 13em;
    min-height: 2em;
}
#policy {
    text-align: left;
    margin-left: 10px;
}
#samtycke {
    margin-top: 0;
}
a {
    color: black;
}
@media (max-width: 1200px) {
    .container {
        padding: 0px;
    }
    .left1 {
        margin-left: 0px;
        background-size: contain;
    }
    .ikoner {
        justify-self: center;
        justify-content: start;
    }
    .right1 {
        margin-left: 20px;
    }
    .kontakt {
        padding: 0px 20px 0 5px;
    }
}
@media (max-width: 960px) {
    .ikoner {
        margin-top: 0;
    }
    #formrubrik {
        text-align: left;
        margin-left: 10px;
    }
    #fyll p {
        overflow-wrap: break-word;
    }
    #skicka {
        min-width: 200px;
    }
}
@media (max-width: 768px) {
    .kontakt {
        grid-template-columns: 1fr
    }
    .form1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: 0;
        margin-top: 25px;
    }
    #select {
        margin-right:20px
    }
    #adress {
        margin-top: 0;
    }
    #labelselect {
        display: flex;
        margin-right: 20px;
    }
    #lankar {
        text-decoration: underline;
    }
}