/* css till referenser */
@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, .konsultation, .konsultation2, .button, .reviews1, .reviews2, .reviews3, #pic1, .pics {
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(199, 199, 199, 0.678);
}

#background {
    width: 100%;
    height: 30vh;
    background-image: url('../bilder/banner.png');
    background-size: cover;
    background-position: center;
    opacity: 1; 
}

h1 {
    padding: 2%;
    font-size: 30px;
}

h3 {
    padding: 0 10% 10% 10%;
}

h4 {
    margin-left: auto;
}

.pics {
    height: 20%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 3%;
    background: rgba(224, 230, 224, 1.0);
}

.pics > p {
    font-size: 17px;
    width: 25%;
}

.pics img {
    align-items: center;
    width: auto;
    height: 80%;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    flex-wrap: wrap;
}

.reviews1, .reviews2, .reviews3 {
    background: rgba(224, 230, 224, 1.0);
    margin-bottom: 3%;
}

#pic1 {
    background: white;
}

.reviews img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 50px 50px 15px 50px;
}

.reviews h2 {
    font-size: 23px;
    height: max-content;
    text-align: center;
    width: 300px;
}

.reviews p {
    margin-top: 3%;
    font-size: 17px;
    height: max-content;
    text-align: center;
    width: 300px;
    padding: 3% 5%;
}

.konsultation, .konsultation2 {
    height: min-content;
    width: 38%;
    margin: auto;
    background: white;
    padding-bottom: 2%;
    margin-bottom: 0;
}

.konsultation > h3, .konsultation2 > h3 {
    padding: 3% 2% 3% 2%;
    margin-bottom: 4%;
    font-size: 22px;
}

.konsultation2 {
    margin-top: 5%;
}

.button {
    background-color: #3F885A;
    padding: 2% 7%;
    margin: auto;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:768px){
    #hamburgarmeny{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .knappar{
        display: none;
    }

    .knappar > li:hover{
        border: none;
    }

    #innehåll{
        margin-top: 0px;
    }

    .bannerText{
        font-size: 35px;
    }
}



/* Tablets såsom iPad: mellan 960px och 768px */
@media only screen and (min-width: 768px) and (max-width: 960px) {

    .pics img {
        align-items: center;
        width: auto;
        height: 50%;
    }


     .reviews img {
            height: 75px;
            width: 75px;
            object-fit: cover;
            margin: 30px 30px 10px 30px;
        }

        .konsultation2 {
            margin-top: 7%;
        }

   



}


/* Mobiltelefoner: mindre än 768px */

@media only screen and (max-width:768px){
    
    .pics {
    flex-direction: column;

}

.pics img {
    align-items: center;
    width: auto;
    height: 50%;
}

.pics p{
    width: 50%;
}

.reviews img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 22px 22px 5px 22px;
}

.konsultation2 {
    margin-top: 10%;
}

}

