.container {display: grid;
	width: 1200px;
	margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
}

header { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E885A;
    color: white;
    font-weight:600;
    grid-column-start: 1;
    grid-column-end: 13;
<<<<<<< HEAD
    min-height: 30px;
    border: 1px solid black;   
=======
    grid-row-start: 1;
    grid-row-end: 2;
    height: 30px;
    /* border: 1px solid black;    */
>>>>>>> cac65afb3a85ed8f013bf00fdeeff5c08576d618
}

#logo {
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: whitesmoke; */
    /* border-left: 1px solid black; */
    background-image: url(/bilder/logo2.png);
    background-size:100% 100%; 
    grid-column-start: 1;
<<<<<<< HEAD
    grid-column-end: 3;
    width: 200px;
    height: 50px;
=======
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3;
    width: 75px;

>>>>>>> cac65afb3a85ed8f013bf00fdeeff5c08576d618
}

.nav {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
<<<<<<< HEAD
    /* min-height: 100px; */
=======
    min-height: 50px;
    background-color:whitesmoke
>>>>>>> cac65afb3a85ed8f013bf00fdeeff5c08576d618
	
}

#meny {
    
    grid-column-start: 3;
    grid-column-end: 13;
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;    
    grid-row-start: 2;
    grid-row-end: 3;
}

.knappar {
    display: flex;
    gap: 50px;

}
       
.knappar > li {
    display: flex;
    /* border: 1px solid black; */
    width: 100px;
    height: 35px;   
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
}    

.knappar > li:hover {
    border-bottom: 2px solid black;
}

#hem {
    text-decoration: none;
} 

#tjanster {
    text-decoration: none;
}
#referenser {
    text-decoration: none;
}
#oss {
    text-decoration: none;
}
#kontakt {
    text-decoration: none;
}

main {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4 ;
    min-height: 500px;
    /* border: 1px solid black; */
    text-align: center;
}

footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
    min-height: 100px;
	/* border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333; */
    background-color: #3E885A;
}

.del1   {
    grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2 ;
}

.del2   {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2 ;
}

.del3   {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2 ;
}