@import "variables.css";

html {
    scroll-behavior: smooth;
}

.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    row-gap: 30px;
}

.flexdirection {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

.topsection {
    background-image: url(/bilder/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 30vh;
    min-height: 400px;
    /* background: linear-gradient(rgba(230, 230, 230, 0), rgba(0, 0, 0, 0.45)); */
}

.greenBanner {
    width: 100%;
    background: #a6eca4;
    height: 50px;
    align-content: center;
}

#bannertext {
    font-size: 200%;
    width: 100%;
    margin-top: 50px;
}

#privat,
#företag {
    width: 250px;
    height: 6em;
    border-radius: 10px;
    margin-bottom: 150px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 3px 10px 0 rgba(170, 170, 170, 0.678);
}

#privat:hover,
#företag:hover {
    box-shadow: 0px 3px 20px 0 rgb(131, 131, 131);
}

a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: black;
}

#privatlink,
#företaglink {
    width: 100%;
}

.containerleft {
    box-sizing: border-box;
}

.containerright,
.containerleft {
    /* margin:0 0 4vh 0; */
    width: 49%;
    min-width:600px;
    justify-content: center;
}

[class*="box"] {
    min-width: 300px;
    width: 45%;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.445);
}

.box {
    height: 310px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.box2 {
    object-fit: cover;
}

.standing {
    /* height: 290px; */
}

li {
    text-align: left;
    padding-top: 3px;
}

.box p {
    text-align: center;
}

button {
    font-family: 'Inclusive Sans', sans-serif;
    color: white;
    background-color: #78ac76;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    height: 40px;
    width: 100px;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 1px black;
}

#last {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    /* [class*="box"] {
        min-width: 200px;
        width: 45%;
    }
    .containerleft {
        margin: 0 auto 5% 10%;
        min-width: 300px;
    }
    .containerright {
        min-width: 300px;
        margin: 0 10% 5% auto;
    } */
}

@media only screen and (max-width: 700px) {
    #bannertext {
        font-size: 120%;
        margin-top: 0px;
        padding: 40px;
    }
    .topsection {
        width: 100%;
        max-height: auto;
        height: 50vh;
    }
    #företag,
    #privat {
        position: relative;
        bottom: 110px;
        font-size: 80%;
        width: 150px;
        height: 4em;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .flexdirection {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .box2 {
        order: -1;
        height: 300px;
    }
}